{% load static tailwind_tags %}
{% load heroicons %}
{% load i18n %}
{% load account socialaccount %}

<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<!DOCTYPE html>
<html lang="en"  class="h-full bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ STARTER.project_name }} - {% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <link rel="icon" href="https://raw.githubusercontent.com/GreenDeploy-io/simple-svg/main/square-000000-V.svg" type="image/svg+xml">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <!-- <link rel="icon" href=""> -->
    {% tailwind_css %}
    {% if AMPLITUDE_TEMPLATE %}
    {% include AMPLITUDE_TEMPLATE %}
    {% endif %}
    {% if CRISP_TEMPLATE %}
    {% include CRISP_TEMPLATE %}
    {% endif %}
  </head>
  <body class="h-full">
    <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
    {% block body %}
      <!-- {% if messages %}
      <div>
        <strong>Messages:</strong>
        <ul>
          {% for message in messages %}
          <li>{{message}}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %} -->

      <!-- <div>
        <strong>Menu:</strong>
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
          <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
          {% else %}
          <li><a href="{% url 'account_login' %}">Sign In</a></li>
          <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </div> -->
        {% block content %}
        {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
    </div>
  </body>
</html>