{% load static tailwind_tags %}
{% load heroicons %}
{% load i18n %}
{% load account socialaccount %}

<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<!DOCTYPE html>
<html lang="en"  class="h-full bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ STARTER.project_name }} - Signup</title>
    <link rel="icon" href="https://raw.githubusercontent.com/GreenDeploy-io/simple-svg/main/square-000000-V.svg" type="image/svg+xml">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <!-- <link rel="icon" href=""> -->
    {% tailwind_css %}
    {% if AMPLITUDE_TEMPLATE %}
    {% include AMPLITUDE_TEMPLATE %}
    {% endif %}
    {% if CRISP_TEMPLATE %}
    {% include CRISP_TEMPLATE %}
    {% endif %}
  </head>

  <body class="h-full">
    <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto h-12 w-auto" src="https://raw.githubusercontent.com/GreenDeploy-io/simple-svg/main/square-000000-V.svg" alt="{{ STARTER.project_name }}">
        <h2 class="text-center mt-6 text-3xl font-bold tracking-tight text-gray-900">Sign in - Continue to {{ STARTER.project_name }}</h2>
        <p class="text-center mt-2 text-sm text-gray-600">
          Don't have an account yet?
          <a href="{% url 'account_signup' %}" class="font-medium text-amber-600 hover:text-amber-500">Sign up</a>
        </p>
      </div>

      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 border shadow sm:rounded-lg sm:px-10">

          <form method="POST" action="{% url 'account_login' %}" class="space-y-6">
            <!-- logic https://github.com/pennersr/django-allauth/blob/master/allauth/templates/account/signup.html -->
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div>
              <!-- django-allauth uses login -->
              <label for="login" class="block text-sm font-medium text-gray-700">Email address</label>
              <div class="mt-1">
                <input id="login" name="login" type="email" autocomplete="email" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-amber-500 focus:outline-none focus:ring-amber-500 sm:text-sm">
              </div>
            </div>

            <div class="space-y-1">
              <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
              <div class="mt-1">
                <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-amber-500 focus:outline-none focus:ring-amber-500 sm:text-sm">
              </div>
            </div>

            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <!-- django-allauth uses remember -->
                <input id="remember" name="remember" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-amber-600 focus:ring-amber-500">
                <label for="remember" class="ml-2 block text-sm text-gray-900">Remember me</label>
              </div>

              <div class="text-sm">
                <a href="{% url 'account_reset_password' %}" class="font-medium text-amber-600 hover:text-amber-500">{% trans "Forgot your password?" %}</a>
              </div>
            </div>

            <div>
              <button type="submit" class="flex w-full justify-center rounded-md border border-transparent bg-amber-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2">{% trans "Sign in" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    {% block custom_js %}
    {% endblock %}
  </body>
</html>
