{% extends "account/base.html" %}

{% load static tailwind_tags %}
{% load heroicons %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto h-12 w-auto" src="https://raw.githubusercontent.com/GreenDeploy-io/simple-svg/main/square-000000-V.svg" alt="{{ STARTER.project_name }}">
        <h2 class="text-center mt-6 text-3xl font-bold tracking-tight text-gray-900">{% trans "Sign Out" %}</h2>
        <p class="text-center mt-2 text-sm text-gray-600">
            {% trans 'Are you sure you want to sign out?' %}
        </p>
      </div>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 border shadow sm:rounded-lg sm:px-10">

          <form method="POST" action="{% url 'account_logout' %}" class="space-y-6">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <div>
              <button type="submit" class="flex w-full justify-center rounded-md border border-transparent bg-amber-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2">
                {% trans 'Sign Out' %}
              </button>
            </div>
          </form>
        </div>
      </div>

{% endblock %}