{% raw %}{% extends "account/base.html" %}{% endraw %}

{% raw %}{% load static tailwind_tags %}{% endraw %}
{% raw %}{% load heroicons %}{% endraw %}
{% raw %}{% load i18n %}{% endraw %}
{% raw %}{% load account socialaccount %}{% endraw %}

{% raw %}{% load account %}{% endraw %}

{% raw %}{% block head_title %}{% endraw %}{% raw %}{% trans "Password is Changed" %}{% endraw %}{% raw %}{% endblock %}{% endraw %}

{% raw %}{% block content %}{% endraw %}
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <img class="mx-auto h-12 w-auto" src="https://raw.githubusercontent.com/GreenDeploy-io/simple-svg/main/square-000000-V.svg" alt="{% raw %}{{ STARTER.project_name }}{% endraw %}">
      <h2 class="text-center mt-6 text-3xl font-bold tracking-tight text-gray-900">{% raw %}{% trans "Password is Changed" %}{% endraw %}</h2>
      <p class="text-center mt-2 text-sm text-gray-600">
        {% raw %}{% trans 'Your password is now changed.' %}{% endraw %}
        Back to
          <a href="{% raw %}{% url 'account_login' %}{% endraw %}" class="font-medium text-amber-600 hover:text-amber-500">login</a>
      </p>
    </div>
{% raw %}{% endblock %}{% endraw %}