{% extends "account/base.html" %}

{% load static tailwind_tags %}
{% load heroicons %}
{% load i18n %}
{% load account socialaccount %}

{% load account %}

{% block head_title %}{% trans "Email sent" %}{% endblock %}

{% block content %}

      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto h-12 w-auto" src="https://raw.githubusercontent.com/GreenDeploy-io/simple-svg/main/square-000000-V.svg" alt="{{ STARTER.project_name }}">
        <h2 class="text-center mt-6 text-3xl font-bold tracking-tight text-gray-900">{% trans "Email sent" %}</h2>
        <p class="text-center mt-2 text-sm text-gray-600">
          {% blocktrans %}Check your e-mail. If you have not received it, please check your spam folder. {% endblocktrans %}
        </p>
      </div>

    <!-- {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %} -->

{% endblock %}