{% raw %}{% extends "account/base.html" %}{% endraw %}

{% raw %}{% load static tailwind_tags %}{% endraw %}
{% raw %}{% load heroicons %}{% endraw %}
{% raw %}{% load i18n %}{% endraw %}
{% raw %}{% load account socialaccount %}{% endraw %}

{% raw %}{% load account %}{% endraw %}

{% raw %}{% block head_title %}{% endraw %}{% raw %}{% trans "Change Password" %}{% endraw %}{% raw %}{% endblock %}{% endraw %}

{% raw %}{% block content %}{% endraw %}
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto h-12 w-auto" src="https://raw.githubusercontent.com/GreenDeploy-io/simple-svg/main/square-000000-V.svg" alt="{% raw %}{{ STARTER.project_name }}{% endraw %}">
        <h2 class="text-center mt-6 text-3xl font-bold tracking-tight text-gray-900">
          {% raw %}{% if token_fail %}{% endraw %}{% raw %}{% trans "Bad Token" %}{% endraw %}{% raw %}{% else %}{% endraw %}{% raw %}{% trans "Change Password" %}{% endraw %}{% raw %}{% endif %}{% endraw %}
        </h2>

      </div>

      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 border shadow sm:rounded-lg sm:px-10">

          {% raw %}{% if token_fail %}{% endraw %}
            {% raw %}{% url 'account_reset_password' as passwd_reset_url %}{% endraw %}
          <p class="text-center mt-2 text-sm text-gray-600">
            {% raw %}{% blocktrans %}{% endraw %}The password reset link was invalid.  Please request a <a href="{% raw %}{{ passwd_reset_url }}{% endraw %}">new password reset</a>.{% raw %}{% endblocktrans %}{% endraw %}</p>
          {% raw %}{% else %}{% endraw %}

          <form method="POST" action="{% raw %}{{ action_url }}{% endraw %}" class="space-y-6">
            {% raw %}{% csrf_token %}{% endraw %}
            <div>
              <!-- django-allauth uses password1 -->
              <label for="password1" class="block text-sm font-medium text-gray-700">New Password</label>
              <div class="mt-1">
                <input id="password1" name="password1" type="password" autocomplete="email" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-amber-500 focus:outline-none focus:ring-amber-500 sm:text-sm">
              </div>

            </div>
            <div class="space-y-1">
              <!-- django-allauth uses password2 -->
              <label for="password2" class="block text-sm font-medium text-gray-700">New Password (again)</label>
              <div class="mt-1">
                <input id="password2" name="password2" type="password" autocomplete="email" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-amber-500 focus:outline-none focus:ring-amber-500 sm:text-sm">
              </div>
            </div>
            <div>
              <button name="action" type="submit" class="flex w-full justify-center rounded-md border border-transparent bg-amber-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2">
                {% raw %}{% trans 'Change Password' %}{% endraw %}
              </button>
            </div>
          </form>
          {% raw %}{% endif %}{% endraw %}
        </div>
      </div>

{% raw %}{% endblock %}{% endraw %}