{% raw %}{% extends "account/base.html" %}{% endraw %}

{% raw %}{% load static tailwind_tags %}{% endraw %}
{% raw %}{% load heroicons %}{% endraw %}
{% raw %}{% load i18n %}{% endraw %}
{% raw %}{% load account socialaccount %}{% endraw %}

{% raw %}{% load account %}{% endraw %}

{% raw %}{% block head_title %}{% endraw %}{% raw %}{% trans "Set a new password" %}{% endraw %}{% raw %}{% endblock %}{% endraw %}

{% raw %}{% block content %}{% endraw %}

      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto h-12 w-auto" src="https://raw.githubusercontent.com/GreenDeploy-io/simple-svg/main/square-000000-V.svg" alt="{% raw %}{{ STARTER.project_name }}{% endraw %}">
        <h2 class="text-center mt-6 text-3xl font-bold tracking-tight text-gray-900">{% raw %}{% trans "Set a new password" %}{% endraw %}</h2>
        <p class="text-center mt-2 text-sm text-gray-600">
          Back to
          <a href="{% raw %}{% url 'account_login' %}{% endraw %}" class="font-medium text-amber-600 hover:text-amber-500">login</a>
        </p>
      </div>

    {% raw %}{% if user.is_authenticated %}{% endraw %}
    {% raw %}{% include "account/snippets/already_logged_in.html" %}{% endraw %}
    {% raw %}{% endif %}{% endraw %}

      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 border shadow sm:rounded-lg sm:px-10">

          <form method="POST" action="{% raw %}{% url 'account_reset_password' %}{% endraw %}" class="space-y-6">
            {% raw %}{% csrf_token %}{% endraw %}
            <div>
              <!-- django-allauth uses email -->
              <label for="email" class="block text-sm font-medium text-gray-700">Your Email</label>
              <div class="mt-1">
                <input id="email" name="email" type="email" autocomplete="email" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-amber-500 focus:outline-none focus:ring-amber-500 sm:text-sm">
              </div>
            </div>
            <div>
              <button type="submit" class="flex w-full justify-center rounded-md border border-transparent bg-amber-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2">
                {% raw %}{% trans 'Send Email' %}{% endraw %}
              </button>
            </div>
          </form>

      <!-- <p>{% raw %}{% blocktrans %}{% endraw %}Please contact us if you have any trouble resetting your password.{% raw %}{% endblocktrans %}{% endraw %}</p> -->
{% raw %}{% endblock %}{% endraw %}