{% load static %}
{% load static tailwind_tags %}
{% load heroicons %}
{% load i18n %}
<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
  Read documentation at
  https://www.notion.so/oppoin/Email-Password-Authentication-1894632d5fd24f35b747b81263ccb58b
-->
<!--
  by default, the html tag and body tag are the following:
  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<!DOCTYPE html>
<html lang="en"  class="h-full bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ STARTER.project_name }} - Signup</title>
    <link rel="icon" href="https://raw.githubusercontent.com/GreenDeploy-io/simple-svg/main/square-000000-V.svg" type="image/svg+xml">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <!-- <link rel="icon" href=""> -->
    {% tailwind_css %}
    {% if AMPLITUDE_TEMPLATE %}
    {% include AMPLITUDE_TEMPLATE %}
    {% endif %}
    {% if CRISP_TEMPLATE %}
    {% include CRISP_TEMPLATE %}
    {% endif %}
  </head>

  <body class="h-full">
    <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto h-12 w-auto" src="https://raw.githubusercontent.com/GreenDeploy-io/simple-svg/main/square-000000-V.svg" alt="{{ STARTER.project_name }}">
        <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Get Started</h2>
      </div>

      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 border shadow sm:rounded-lg sm:px-10">
          {% include "account/includes/form_errors.html" %}
          <form class="space-y-6" id="signup_form" method="POST" action="{% url 'account_signup' %}">
            <!-- logic https://github.com/pennersr/django-allauth/blob/master/allauth/templates/account/signup.html -->
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <p class="text-center text-sm">
              Sign up in easy mode. We'll never share your email. <!-- answer objection here such as We'll never post without asking -->
            </p>
            <div>
              <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
              <div class="mt-1">
                <input id="email" name="email" type="email" autocomplete="email" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-amber-500 focus:outline-none focus:ring-amber-500 sm:text-sm">
              </div>
            </div>

            <div>
              <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
              <div class="mt-1">
                <!-- note django-allauth expects password1 -->
                <input id="password1" name="password1" type="password" autocomplete="current-password" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-amber-500 focus:outline-none focus:ring-amber-500 sm:text-sm">
              </div>
            </div>

            <!-- <div class="flex items-center justify-between">
              <div class="flex items-center">
                <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-amber-600 focus:ring-amber-500">
                <label for="remember-me" class="ml-2 block text-sm text-gray-900">Remember me</label>
              </div>

              <div class="text-sm">
                <a href="#" class="font-medium text-amber-600 hover:text-amber-500">Forgot your password?</a>
              </div>
            </div> -->

            <div>
              <button type="submit" class="flex w-full justify-center rounded-md border border-transparent bg-amber-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2">{% trans "Get Started" %}</button>
            </div>
          </form>

        </div>
      </div>
    </div>


    {% block custom_js %}
    {% endblock %}
</body>
</html>
